
<div class="overlay" style="cursor: pointer;">
  <h3>{{title}}</h3>
  <h5>{{price}} / {{unit_of_measure}}</h5>

  
  <hr />
  <div class="owner">
    <h5>{{owner_full_name}}</h5>
    <img src="{{owner_avatar_path}}" />
  </div>


  <hr />
  <a href="#">Click me please!</a>
</div>

